<% $nNumberOfMostPopularBlogs=10 %>


<% if onThisPage==:All %>
  <% dbPopularBlog=Blog.find(:all,:select=>"blogs.id,blogs.title",:order=>"views desc",:limit=>$nNumberOfMostPopularBlogs) %>
<% else %>
  <% bCategory=true %>
  <% iCategory=$hsiCategoryNameToArrayIndex[onThisPage] %>
  
  <% if iCategory.nil? %>
    <% bCategory=false %>
    <% dbPopularBlog=Blog.find(:all,:select=>"blogs.id,blogs.title",:conditions=>{:author=>onThisPage},:order=>"views desc",:limit=>$nNumberOfMostPopularBlogs) %>
  <% else %>
    <% sIndexTableName=$aoBlogCategories[iCategory].sDatabaseTableName %>
  <% end %>
  
  <% if bCategory %>
    <% dbPopularBlog=Blog.find(:all,:select=>"blogs.id,blogs.title",:joins=>"INNER JOIN #{sIndexTableName} it ON it.blogID=blogs.id",:order=>"views desc",:limit=>$nNumberOfMostPopularBlogs) %>
  <% end %>
<% end %>

<ul type="disc" class="PopularBlogs">
<% dbPopularBlog.each do |b| %>
  <li><%= link_to b.title, b, :title=>b.title %></li>
<% end %>
</ul>

