#buttonAddPrettyCode {
  padding:3px 16px;
  text-align:center;
}


.EditBlogTitle {
  
}


.BlogTitleEditArea {
  width:80%;
}


.SelectBlogCategory {
  margin:30px 0;
}


.CategoryCheckBox {
  margin:0 20px 0 0;
}


.BlogContentContainer {
}


.BCHeader {
  position:relative;
  height:30px;
}


.BCLabel {
  position:absolute;
  bottom:5px;
}


.BCAddCode {
  position:absolute;
  bottom:5px;
  left:300px;
}


.BCEditArea {
  width:95%;
  height:500px;
}
