h2 {
  margin:10px 0;
}


h3{
  color:red;
}


.SignUpFormContainer {
  padding-top:10px;
  margin:5px;
}


.Label {
  margin:5px 0;
  display: block;
}


.Textfield {
  border:1px solid #000;
  height:16px;
}


.PasswordField {
  border:1px solid #000;
  height:16px;
}


