<img src="/assets/pigRiderLogo.png" id="pigRiderLogo" class="FloatLeft" alt="PigRider">


<div class="FloatLeft">
  <h1 style="margin:5px 5px 5px 10px"><i><span style="color:yellow">Pig</span><span style="color:blue">Rider</span> <span style="color:red">Blogs</span></i></h1>
</div>


<% if userSignedIn %>
  <div class="FloatRight" style="margin:2px 10px 0 0">
    <i>Hi <b><%= usernameForSignedInUser %></b>!</i>
    <%= link_to "Settings", edit_user_path(useridForSignedInUser), :style=>"margin:0 5px 0 5px" %>
    <%= link_to "Sign Out", userSignOut_path, :method=>"delete" %>
  </div>
<% else %>
  <%= link_to "Sign In", new_session_path, :class=>"FloatRight", :style=>"margin:2px 10px 0 0" %>
<% end %>


<nav id="headerNav">
  <a href="/">Home</a>
  <a href="http://tools.pigrider.com/">PigRider Tools</a>
  <a href="http://blogs.pigrider.com/AboutUs">About Us</a>
  <a href="http://blogs.pigrider.com/ContactUs">Contact Us</a>
</nav>

